@page "/dominant"
@using System.Security.Cryptography

@_textInput.Render()

<button @onclick="@(() => _textInput.SetValue(RandomNumberGenerator.GetInt32(32).ToString()))">Set</button>
<button @onclick="@(async () => Console.WriteLine(await _textInput.GetValue()))">Get</button>
<button @onclick="@(async () => await _textInput.Disable())">Disable</button>
<button @onclick="@(async () => await _textInput.Enable())">Enable</button>
<br>
<br>

@_dateInput.Render()

<button @onclick="@(() => _dateInput.SetValue(DateTime.Now))">Set</button>
<button @onclick="@(async () => Console.WriteLine(await _dateInput.GetValue()))">Get</button>

<br>
<br>

@_timeInput.Render()

<button @onclick="@(() => _timeInput.SetValue(DateTime.Now))">Set</button>
<button @onclick="@(async () => Console.WriteLine(await _timeInput.GetValue()))">Get</button>
