@using Microsoft.AspNetCore.Components
@using Integrant.Rudiment.Components
@using Integrant.Web.Components
@using Integrant.Resources.Icons.MaterialIcons
@using Integrant.Element.Bits

@page "/"
@page "/url1"
@page "/url2"
@page "/url3"

@_header2.Render()

<div class="Panel">
    <ElementTests/>
</div>

<br>

<Icon ID="check"/>

<div class="Panel">
    @PrimaryHeader.Render()
    @_header2.Render()
    <StructureContainer TS="User" StructureInstance="@_structure" Value="@_testUser">
        <table>
            <thead>
            <tr>
                <td colspan="4">
                    @{
                        var button = new Button(() => "Reset all inputs", _ => ResetAll());
                    }

                    @button.Render()
                </td>
            </tr>
            </thead>

            <tbody>
            <MemberContainer TS="User" TM="bool" ID="Boolean" Element="tr">
                <td>
                    <MemberKey TS="User" TM="bool"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="bool"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="bool"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="string" ID="CreatedBy" Element="tr">
                <td>
                    <MemberKey TS="User" TM="string"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="string"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="int" ID="UserID" Element="tr">
                <td>
                    <MemberKey TS="User" TM="int"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="int"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="int"/>
                </td>
                <td>
                    <MemberValidations TS="User" TM="int"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="string" ID="Name" Element="tr">
                <td>
                    <MemberKey TS="User" TM="string"/>
                </td>
                <td>
                    @* <input type="text" @oninput="@(args => _structure.GetMember<string>(nameof(User.Name)).UpdateValue(_testUser, args.Value.ToString()))"/> *@
                    <MemberInput TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValidations TS="User" TM="string"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="string" ID="PhoneNumber" Element="tr">
                <td>
                    <MemberKey TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="string"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="string" ID="Email" Element="tr">
                <td>
                    <MemberKey TS="User" TM="string"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValidations TS="User" TM="string"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="DateTime" ID="StartDate" Element="tr">
                <td>
                    <MemberKey TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberValidations TS="User" TM="DateTime"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="DateTime" ID="StartTime" Element="tr">
                <td>
                    <MemberKey TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="DateTime"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="DateTime" ID="CompositeDateTime" Element="tr">
                <td>
                    <MemberKey TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="DateTime"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="DateTime"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="List<string>" ID="Tags" Element="tr">
                <td>
                    <MemberKey TS="User" TM="List<string>"/>
                </td>
                <td>
                    @_tagsSelector.Render()
                </td>
                <td>
                    <MemberValue TS="User" TM="List<string>"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="int" ID="DepartmentID" Element="tr">
                <td>
                    <MemberKey TS="User" TM="int"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="int"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="int"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="string" ID="DepartmentType" Element="tr">
                <td>
                    <MemberKey TS="User" TM="string"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="string"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="string"/>
                </td>
            </MemberContainer>
            <MemberContainer TS="User" TM="ushort" ID="DepartmentStatus" Element="tr">
                <td>
                    <MemberKey TS="User" TM="ushort"/>
                </td>
                <td>
                    <MemberInput TS="User" TM="ushort"/>
                </td>
                <td>
                    <MemberValue TS="User" TM="ushort"/>
                </td>
            </MemberContainer>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="4">
                    <StructureValidations TS="User"/>
                </td>
            </tr>
            </tfoot>
        </table>

        <button @onclick="Submit" disabled="@(!_structure.ValidationState.Valid())">Submit</button>
        @_submitButton.Render()
    </StructureContainer>
</div>